body p{
color: green;
font-variant: small-caps;
}

body{
	background-color: black;
	color: white !important;
	font-family: Verdana;
}

h1 {
	font-family: Arial;
}

a {
	color: inherit;
	text-decoration-style:dotted;
	text-decoration-line: line-through;
	text-transform: uppercase;
}

div{
	margin-top: 10px;
	margin-left: 20px;
}

body{
color: red;
}

p
{
	color: blue;
}
